<div class="center hero-unit">
  <h1>JeRecrute.ma</h1>

  <h2>
    Votre Plateforme de Recrutement
  </h2>
  <h3> Inscription </h3>
  <%= link_to "candidat", signup_path, class: "btn btn-large btn-primary" %>
  <%= link_to "Entreprise", "#", class: "btn btn-large" %>
</div>


