<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">JeRecrute.ma</a>
    Par Zakaria1159
  </small>
  <nav>
    <ul>
      <li><%= link_to "offres emploi",   offresemploi_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>