

<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "JeRecrute.ma", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Acceuil",    root_path %></li>
          <li><%= link_to "Aide",    apropos_path %></li>
          <li><%= link_to "Se connecter", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

